body {
    background: #EEF;
}

#everything {
    background: #FFF;
    max-width: 50em;
    margin: auto;
    border: 1px solid;

}

main {
    padding: 1em;
}

nav {
    display: block;
    background: #000;
}

nav a {
    display: inline-block;
    padding: 1em;
    background: #000;
    color: #FFF;
    text-decoration: none;
}

nav a:hover {
    background: #00E;
    text-decoration: underline;
}

footer {
    border-top: 1px solid;
    text-align: center;
    font-size: 75%;
}