canvas {
  position: absolute;
  background: transparent;
  z-index: 11
}

body {
    background: #933;
}
img {
    z-index: 10;
    user-select: none;
}
body, img {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*
canvas {
    background: #FFF;
    overflow: hidden;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
}
*/