canvas {
  position: absolute;
  background: #CCF;
}

body {
    background: #933;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*
canvas {
    background: #FFF;
    overflow: hidden;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
}
*/